<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Projekt zaliczeniowy JPDSI">
    <meta name="author" content="Michał Kisiel">
    <link rel="icon" href="{$conf->app_url}/css/favicon-16x16.png">
    <title>Projekt_JPDSI</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{$conf->app_url}/css/simditor.css" />

    <!-- Custom style -->
    <link href="{$conf->app_url}/css/style.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{$conf->action_url}home">Projekt_JPDSI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {if isset($user)}

            <div class="navbar-form navbar-right">
                <a href="{$conf->action_url}showProfile" class="btn btn-primary ">
                    <img  class="profilePicSmall" src="{$conf->app_url}/data/{$user["img"]}">
                   {$user["username"]} <span class="badge"></span></a>
                <a href="{$conf->action_url}logoutAction" class="btn btn-danger">Wyloguj</a>
            </div>
            {else}
            <form action="{$conf->action_url}loginAction" method="post" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Login" class="form-control" name="login" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Hasło" class="form-control" name="pass">
                </div>
                <button type="submit" class="btn btn-login">Zaloguj</button>
            </form>
            {/if}
        </div>
    </div>
</nav>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        {if isset($mainTitle)}
        <h1>{$mainTitle}</h1>
        {else}
        <h1>default</h1>
        {/if}
    </div>
</div>


<!-- ALERTS -->

<div class="container">
    {foreach $msgs->getMessages() as $msg}


    <div class="row">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{$msg->text}</p>
        </div>
    </div>
    {/foreach}
</div>


<div class="container">

    <!-- CONTENT -->
    {block name=content} {/block}


</div> <!-- /container -->
<div class="container">

    <hr>
    <footer>
        <p>&copy; 2017 Michał Kisiel</p>
    </footer>
</div>


<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Include Editor style. -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
{block name=script} {/block}


</body>

</html>
